/* StudentAttendance.css */

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f4f4f4;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #8e1111; 
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

p {
    text-align: center;
    color: #666;
}
.attendance-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    z-index: 1000;
  }
  
  .attendance-modal h3 {
    margin-top: 0;
  }
  
  .attendance-modal label {
    margin-right: 10px;
  }
  
  .attendance-modal button {
    margin-top: 10px;
  }
  .btn-attend {
    padding: 10px;
    width: 200px;
    margin-bottom: 5px;
  }
  